{{#if tasks}}
<h1>Continue your habits!</h1>
{{#each tasks as |task| }}
  <h3 class="checkin-title">Did you {{task.title}}?</h3>
  <div class="checkin-button-group">
    <button type="button" class="checkin-button">Yes</button>
    <button type="button" class="checkin-button">No</button>
    <button type="button" class="checkin-button">Maybe</button>
  </div>
{{/each}}
{{else}}
<h1>Looks good!</h1>
All set for now!
{{/if}}
