{{#if model}}
<h1>Continue your habits!</h1>
{{#each model as |habit| }}
  {{check-in habit=habit}}
{{/each}}
{{else}}
  <img class="checkin-check" src="check.png">
  <h1 class="checkin-good-title">Looks good!</h1>
  <p class="checkin-good-subtitle">All set for now!</p>
{{/if}}
