{{#if tasks}}
  <h1>Overview of your progress</h1>
  <ul>
    {{#each tasks as |task|}}
      <li>{{task.title}}. You've maintained this habit for {{task.time}} days!</li>
    {{/each}}
  </ul>
{{else}}
  <h1>You haven't entered any habits yet!</h1>
{{/if}}