<h1>{{habit.title}}</h1>

<form class="form-horizontal">
  <div class="form-group">
    <label class="detail-label">Title</label>
    <div class="form-col">
      <input type="text" class="form-control" value="{{habit.title}}">
    </div>
  </div>
  <div class="form-group">
    <label class="detail-label">Description</label>
    <div class="form-col">
      <input type="text" class="form-control" value="{{habit.description}}">
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="save-button">Save changes</button>
  </div>
</form>

<hr>

<div class="habit-stats">
  <div class="habit-box">
    <p class="stat-title">Days Complete</p>
    <p class="stat-value">49</p>
  </div>
  <div class="habit-box">
    <p class="stat-title">Next Reminder</p>
    <p class="stat-value">12</p>
    <p class="stat-subtitle">days</p>
  </div>
  <div class="habit-box">
    <p class="stat-title">Percent Done</p>
    <p class="stat-value">55%</p>
  </div>
</div>
